<header class="navbar navbar-expand-lg" id="header" [class.shrink]="shrinkHeader" [style.background-color]="colorHeader" [style.color]="colorText">
  <div class="container">
    <img src="../../../../assets/image/mastermindITLogo.jpeg" alt="" class="img-logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
    data-bs-targe="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active"><a href="#home" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#about" class="nav-link">Nosotros</a></li>
        <li class="nav-item"><a href="#services" class="nav-link">Servicio</a></li>
        <li class="nav-item"><a href="#blog" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="#contact" class="nav-link">Contacto</a></li>
      </ul>
    </div>
  </div>
</header>



<!--Main content principal the sections-->
<main>
  <section class="hero" id="home">
    <div class="container">
      <h1 class="hero-title">Mastermind IT</h1>
      <p class="hero-text">
        Ofrecemos servicios de desarrollo web, soporte informático,
        optimización de aplicaciones web y recuperación de datos.
      </p>
      <a href="#" class="btn btn-primary btn-lg hero-btn">Saber más</a>
    </div>
  </section>
  <section class="about py-5 fade-in" id="about" [class.visible]="aboutVisible">
    <div class="container">
      <!-- <h2 class="about-title">Nosotros</h2> -->
      <div class="row">
        <div class="col-lg-6 col-md-6 mt-5">
          <div class="content-img">
            <img src="../../../../assets/image/about.jpg" alt="about" class="img-about filter rounded" >
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-5">
          <h2 class="about-title">Sobre nosotros</h2>
          <p class="about-text">
            Somos una empresa de tecnología enfocada en brindar soluciones
            informáticas a empresas y particulares. Nuestro equipo de expertos en
            tecnología está dedicado a ofrecer un servicio excepcional a nuestros
            clientes.
          </p>
        </div>
      </div>
      <div class="row content-text-about">
        <div class="col-lg-4 col-md-4 about-goals">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title title-proposito">Propósito</h3>
              <p class="card-text text-proposito">
                En Mastermind IT, nuestro propósito es ayudar a empresas y organizaciones a
                alcanzar su máximo potencial a través de soluciones tecnológicas innovadoras y personalizadas.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 about-goals">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title title-mision">Misión</h3>
              <p class="card-text text-mision">
                Nuestra misión es ser un socio estratégico confiable para nuestros clientes, ofreciendo servicios
                y soluciones de tecnología de alta calidad y creando relaciones duraderas basadas en la confianza y el éxito mutuo.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 about-goals">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title title-vision">Visión</h3>
              <p class="card-text text-vision">
                Nuestra visión es liderar el mercado de soluciones tecnológicas en nuestra región, ofreciendo soluciones
                innovadoras y personalizadas que agreguen valor a nuestros clientes y promuevan su éxito sostenible.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="services py-5 fade-right" id="services" [class.visible]="servicesVisible">
    <div class="container">
      <h2 class="services-title">Nuestros servicios</h2>
      <div class="row">
        <div class="col-md-6 col-lg-6 mb-4">
          <a href="" class="link-services">
            <div class="card-wrapper">
              <div class="card">
                <div class="card-body">
                  <p class="icon-img"><i class="fa-sharp fa-solid fa-code"></i></p>
                  <h3 class="card-title">Desarrollo web</h3>
                  <p class="card-text">
                    Desarrollamos sitios web personalizados y aplicaciones web para
                    empresas y particulares. Nuestros servicios incluyen diseño web,
                    desarrollo de front-end y back-end, y optimización para motores de
                    búsqueda.
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-6 mb-4">
          <a href="" class="link-services">
            <div class="card-wrapper">
              <div class="card">
                <div class="card-body">
                  <p class="icon-img"><i class="fa-sharp fa-solid fa-users"></i></p>
                  <h3 class="card-title">Soporte informático</h3>
                  <p class="card-text">
                    Ofrecemos servicios de soporte informático para empresas y
                    particulares, incluyendo reparación de equipos, asistencia técnica y
                    mantenimiento de sistemas.
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-6 mb-4">
          <a href="" class="link-services">
            <div class="card-wrapper">
              <div class="card">
                <div class="card-body">
                  <p class="icon-img"><i class="fa-sharp fa-solid fa-gear"></i></p>
                  <h3 class="card-title">Optimización de aplicaciones web</h3>
                  <p class="card-text">
                    Optimizamos aplicaciones web para mejorar su velocidad y
                    rendimiento. Nuestros servicios incluyen
                    análisis de la
                    aplicación, identificación y solución de problemas de rendimiento y mejora de la
                    experiencia del usuario.
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-6 mb-4">
          <a href="" class="link-services">
            <div class="card-wrapper">
              <div class="card">
                <div class="card-body">
                  <p class="icon-img"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></p>
                  <h3 class="card-title">Recuperación de datos</h3>
                  <p class="card-text">
                    Ofrecemos servicios de recuperación de datos para empresas y particulares. Nuestros servicios incluyen recuperación de datos de discos duros, unidades flash USB, tarjetas de memoria y otros medios de almacenamiento.
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="blog py-5 fade-in" id="blog" [class.visible]="blogVisible">
    <div class="container">
      <h2 class="blog-title">Entradas recientes</h2>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card">
            <img src="https://via.placeholder.com/350x200" alt="..." class="card-img-top">
            <div class="card-body">
              <a href="" class="link-title"><h3 class="text-title">Cómo optimizar el rendimiento de tu sitio web</h3></a>
              <p class="card-text">En este artículo te mostramos algunos consejos para mejorar el rendimiento de tu sitio web y brindar una mejor experiencia a tus usuarios.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card " >
            <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="" class="link-title"><h3 class="text-title">Los beneficios del soporte informático para empresas</h3></a>
              <p class="card-text">En este artículo te explicamos cómo el soporte informático puede mejorar la productividad y eficiencia de tu empresa.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card">
            <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="" class="link-title"><h3 class="text-title">Cómo recuperar datos perdidos en tu disco duro</h3></a>
              <p class="card-text">En este artículo te mostramos cómo puedes recuperar datos perdidos en tu disco duro utilizando herramientas y técnicas simples.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact py-5 fade-left" id="contact" [class.visible]="contactVisible">
    <div class="container">
      <h2 class="contact-title">Contáctanos</h2>
      <div class="row">
        <div class="col-lg-4 col-md-4 data-information">
          <div class="information">
            <h5 class="contact-title-information">Ubicación</h5>
            <p class="contact-text-information">Quito - Pichincha - Ecuador</p>
          </div>
          <div class="information">
            <h5 class="contact-title-information">Email</h5>
            <p class="contact-text-information">supportmmit@gmail.com</p>
            <p class="contact-text-information">supportmmit@gmail.com</p>
          </div>
          <div class="information">
            <h5 class="contact-title-information">Teléfono</h5>
            <p class="contact-text-information">+953 983442060</p>
            <p class="contact-text-information">+953 983442060</p>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 m-0 p-0">
          <div class="container">
            <form action="" class="form">
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <input type="text" class="form-control" id="name" placeholder="Nombre*">
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <input type="text" class="form-control" id="name" placeholder="Apellido*">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-left" id="name" placeholder="Teléfono*">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="Email*">
              </div>
              <div class="form-group">
                <textarea type="text" class="form-control cal-row" id="name" placeholder="Mensaje" rows="5"></textarea>
              </div>
              <button type="submit" class="btn btn-info btn-send btn-lg">Enviar mensaje</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footer">
    <div class="container-fluid content-footer">
      <div class="container-icons">
        <a href="" class="icons-text"><i class="fa-brands fa-facebook icons"></i></a>
        <a href="" class="icons-text"><i class="fa-brands fa-youtube icons"></i></a>
      </div>
      <p class="footer-title">&copy; Copyright Mastermind IT.&nbsp;Todos los derechos reservados.</p>
    </div>
  </section>
</main>
