
/****************
HEADER
*****************/
.navbar{
  padding: 1rem 2rem;
  z-index: 9999;
  max-height: 80px;
}
.navbar .container .img-logo{
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  height: 70px;
  border-radius: 3%;
}
#header{
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s;
  background-color: #f1f1f1;
  padding: 50px 10px;
}
#header.shrink{
  font-size: 30px;
  padding: 10px;
}
.navbar-toggler{
  border-color: #fff;
}
.navbar-toggler-icon{
  background-color: #fff;
}
.navbar-nav{
  margin-left: auto;
}
.nav-item{
  margin: 0 0.5rem;
}

.nav-link{
  font-family: var(--navbar-brand-font-family-Regular);
  font-weight: 700;
  font-size: 1rem;
}
.nav-link:hover{
  color: #0069d9;
}
.navbar-nav li.active a{
  color: #0069d9;
  background-color: transparent;
  font-family: var(--navbar-brand-font-family-Regular);
}
/******************
HERO SLIDER
*******************/
.hero{
  background-image: url('../../../../assets/image/hero-image.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-title{
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 2rem;
}
.hero .hero-text{
  font-size: 1.5rem;
  font-weight: 300;
  color: #3b3a3a;
  text-shadow: 1px 1px 2px rgb(0, 0, 0,0.7);
  margin-bottom: 2rem;
}
.hero .hero-btn{
  background-color: #fff;
  color: #000;
  border-radius: 50xp;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  border: #3b3a3a;
}
.hero .hero-btn:hover{
  background: #0069d9;
  color:#fff;
}
/*******************
ABOUT
********************/
.about{
  background-color: #f8f9fa;
  max-height: 100%;
}

.about .about-title{
  font-size: 2.5rem;
  font-weight: bold;
}
.about .about-text{
  font-size: 1rem;
  text-align: justify;
  color: #6c757d;
  max-width: 800px;
  font-family: var(--navbar-brand-font-family-Regular);
}
.about .content-img{
  width: 100%;
  position: relative;
}
.about .img-about{
  display: block;
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 0 0px 5px #0069d9;

}
.content-img:hover .img-about {
  filter: none;
  cursor: pointer;

}
.about .about-goals{
  padding-top: 1rem;
}
.about .about-goals .card{
  border: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.about .about-goals .card:hover{
  transform: translateY(-5px);
}
.about .about-goals .card .card-text{
height: 185px;
overflow: hidden;
font-size: 1rem;
color: #6c757d;
max-width: 800px;
font-family: var(--navbar-brand-font-family-Regular);
text-align: justify;
}
.about
.title-proposito,
.title-mision,
.title-vision{
  font-size: 1.5rem;
  font-weight: bold;
  color: #212529;
  text-align: center;


}
.about
.text-proposito,
.text-mision,
.text-vision{
  font-size: 1rem;
  color: #6c757d;
  max-width: 800px;
  font-family: var(--navbar-brand-font-family-Regular);
}
/***************
SERVICES
****************/
.services{
  background-color: #f8f9fa;
  max-height: 100%;
}
.services .services-title{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  padding-top: 25px;
  text-align: center;
}
.services .link-services {
  text-decoration: none;
}
.services .card{
  border: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}
.services .container .card{
  border-bottom-right-radius: 25px;
}


.services .card-wrapper:hover .card,
.services .card-wrapper:hover .fa-code,
.services .card-wrapper:hover .fa-users,
.services .card-wrapper:hover .fa-gear,
.services .card-wrapper:hover .fa-magnifying-glass,
.services .card-wrapper:hover .card-title,
.services .card-wrapper:hover .card-text {
  background-color: #212529;
  color: #fff;
}
.services .link-services{
  text-decoration: none;
  color: inherit;
}
.link-services .card-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
.services
.icon-img
.fa-code,
.fa-users,
.fa-gear,.fa-magnifying-glass{
  color: #0069d9;
}

.services .icon-img{
  color: #5f5f5f;
  font-size: 50px;
  text-align: center;
}
.services .card-text{
  font-size: 1rem;
  color: #6c757d;
  text-align: justify;
  font-family: var(--navbar-brand-font-family-Regular);
  height: 120px;
  overflow: hidden;
}

.services .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services .col-md-6{
  margin-bottom: 2rem;
}

.services .col-lg-6{
  margin-bottom: 2rem;
}

.services .col-md-6:last-child,
.services .col-lg-6:last-child{
  margin-bottom: 0;
}

/******************
BLOG
*******************/
.blog{
  background-color: #f7f7f7;
  padding: 70px 0;
  max-height: 100%;
}
.blog .blog-title{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 50px;
  padding-top: 25px;
  text-align: center;
}
.blog .card{
  border: none;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}
.blog .container .card{
  border-bottom-right-radius: 25px;
}


.blog .card:hover{
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

.blog .card-img-top{
  height: 200px;
  object-fit: cover;
}
.blog .link-title{
  text-decoration: none;
  color: inherit;
  margin-bottom: 10px;
}
.blog .link-title .text-title{
  font-size: 1.2rem;
  font-weight: bold;
}
.blog .link-title .text-title:hover{
  color: #0069d9;
}
.blog .card-text{
  font-size: 1rem;
  color: #6c757d;
  font-family: var(--navbar-brand-font-family-Regular);
  height: 160px;
  overflow: hidden;
  text-align: justify;
}
/*************
Contact
**************/
.contact{
  background-color: #f7f7f7;
  font-family: var(--navbar-brand-font-family-Regular);
  max-height: 100%;
}
.contact .contact-title{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 50px;
  padding-top: 25px;
  text-align: center;
}
.contact .data-information{
  background-color: #212529;
  border-radius: 10px 10px 100px 10px;
}
.contact .information{
 width: 100%;
 padding-bottom: 25px;
}
.contact .contact-title-information{
  font-size: 17px;
  font-family: var(--navbar-brand-font-family-Bold);
  padding-top: 15px;
  margin-bottom: 10px;
  color: #fff;
}

.contact .contact-text-information{
  color: #fff;
  font-size: 16px;
  font-family: var(--navbar-brand-font-family-Regular);
  margin: 0;
  padding: 0;
}

.form-control{
  border-bottom-right-radius: 25px !important;
}

.contact .form input,
.contact .form textarea{
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: #5f5f5f;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;

}

.contact .form input:focus,
.contact .form textarea:focus{
  border-color: #0069d9;
  box-shadow: 0 0 5px #86b7ec;
}
.contact .cal-row{
  resize: none;
  max-height: calc(5 * 1.5rem);
}
.contact .form .btn-send{
background-color: #212529;
border: none;
border-radius: 50px;
color: #fff;
cursor: pointer;
font-size: 16px;
font-family: var(--navbar-brand-font-family-Bold);
padding: 15px 20px;
transition: all 0.3s ease;
width: 25%;
}

.contact .form .btn-send:hover{
  color:#0069d9;
}
.footer{
  background-color: #f7f7f7;
  padding: 0;
  margin: 0;
  max-height: 100%;
}
.footer .content-footer {
  background-color: #212529;
  font-family: var(--navbar-brand-font-family-Regular);
  height: 125px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  font-size: 15px;
}
.footer .content-footer .container-icons{
  width: 100%;
  padding-top: 10px;
}
.footer .content-footer .container-icons .icons-text{
  color: #ced4da;
  font-size: 30px;
  font-family: var(--navbar-brand-font-family-Regular);
  text-decoration: none;
  padding: 10px;
}

.footer .content-footer .fa-facebook:hover{
  color: #3B5998;
}
.footer .content-footer .fa-youtube:hover{
  color: #FF0000;
}
.footer .content-footer .footer-title{
  padding: 5px;
}

/***************
Animations
****************/
.fade-in{
  opacity: 0;
  transform: translateX(-50px);
  transition: all  1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 2s ease-in-out;
}

.fade-right {
  opacity: 0;
  transform: translateX(50px);
  transition: all 1s ease-in-out;
}

.fade-right.visible {
  opacity: 1;
  transform: translateX(0);
  transition: all 2s ease-in-out;
}

/****************
responsive design
*****************/

